/*
/*/
!/src/
!/inputs/
!/tristanVis/
!/unit/
!/user/
!.gitignore
!configure.py
!fulltest.py
!Makefile.in
!README.md
!dev-requirements.txt
!.vscode
!docker
!extern/
!CITATION
!LICENSE
.vscode/*.log
!CMakeLists.txt
__pycache__

*.pyc
.DS_Store
.venv
